#anketa {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


div.respondent {
  position: relative;
  float: left;
  width: 180px;
  height: 330px;
  padding: 0px 5px 0px 5px;
  margin: 15px 5px 5px 5px;
  border-bottom: thin dotted lightgrey;
}

.vybrany {
  background-color: #F0F0F0;
}

.neodpovedel.vybrany {
  background-color: #FFFFFF;
}

p.jmeno {
  color: black;
  text-align: center;
  margin-bottom: 7px;
}

p.veta {
  font-size: 90%;
  color: black;
  margin-top: 0px;
  text-align: center;
}

img.portret {
  width: 100px;
  height: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

div.cedulka {
  width: 180px;
  text-align: center;
  background-color: #606060;
  color: white;
  margin: 0px 0px 0px -5px;
  padding: 2px 0px 2px 0px;
  z-index: 10;
  position: absolute;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
}

.stars {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.star {
    font-family: sans-serif;
    font-size: x-large;
    width: 24px;
    display: inline-block;
    color: gray;
}
.star:last-child {
    margin-right: 0;
}
.star:before {
    content:"★";
}
.star.on {
    color: gold;
}
.star.half:after {
    content:"★";
    color: gold;
    position: absolute;
    margin-left: -24px;
    width: 12px;
    overflow: hidden;
}